/* --------fonts-------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300;1,400&display=swap");

/* --------preset------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: auto;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  width: 8.3in;
  height: 11.7in;
}
h2 {
  /* line-height: 36px; */
  /* border-bottom: 4px solid black; */
  background-color: #85c6ff;
}
h3 {
  /* line-height: 32px; */
}
a {
  text-decoration: none;
  color: black;
}
section:not(#contact-info) {
  padding: 10px 0;
}
section > * {
  padding: 0 30px;
}
.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.align-center {
    display: flex;
    align-items: center;
}
/* ---------print-------- */
@media print {
  body {
    height: 100%;
    width: 100%;
  }
  @page {
    size: A4;
    margin: 0;
  }
}

/* --------contact-info-- */
#contact-info {
  /* background-color:#c9e6ff; */
}
#contact-info > h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  padding: 10px 30px;
}
#contact-info .info-details {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  /* background-color: #85c6ff; */
}
#contact-info .info-details > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-info .info-details > div > img {
  height: 20px;
  margin-right: 5px;
}

/* -----------professional-exp--- */
#prof-exp > * {
  padding-left: 30px;
}
#prof-exp > .emp-details h3,
h4 {
  display: inline-block;
}
.ed-details {
  margin: 15px 0;
}

/* ----------tech-skills-------- */
#tech-skills img {
  height: 20px;
  margin-right: 5px;
}
#tech-skills > .skill-box {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0; */
}
#tech-skills > .skill-box > h4{
    display: inline-block;
    margin: 10px;
    margin-bottom: 0;
    border-radius: 5px;
    border: 2px solid black;
    padding:4px;
}
